python-telegram-bot==20.7
requests==2.32.4
Pillow==11.2.1
opencv-python==4.11.0.86
librosa==0.11.0
soundfile==0.13.1
numpy==1.24.3
matplotlib==3.10.3
seaborn==0.13.2
scikit-learn==1.7.0
joblib==1.5.1
tensorflow==2.13.1 